body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    border-right: 1px solid #e2e8f0;
    width: 20rem;
    overflow: hidden;
    transition: width 0.3s;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1000;
        transform: translateX(-100%);
    }
    .sidebar.open {
        transform: translateX(0);
    }
    main {
        margin-left: 0;
    }
}

@media (min-width: 769px) {
    main {
        margin-left: 20rem;
    }
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.h-screen {
    height: 100vh;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.logo {
    height: 63px;
    width: 100%;
}

.nav-link {
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
    margin-left: 10%;
    font-size: 20px;
}

.nav-link span {
    margin-left: 0.6rem;
}

.nav-link:hover,
.nav-link.activ {
    background-color: #b0b3b6;
    border-radius: 12px;
}

.admin-btn {
    display: flex;
    align-items: center;
    /* text-align: center; */
    margin-left: 16%;
    padding: 9px 42px;
    background-color: #a0a0a0;
    color: black;
    border: none;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.admin-btn svg {
    margin-right: 10px;
}

.admin-btn:hover {
    background-color: #838383;
}

.logout {
    text-decoration: underline;
    text-align: center;
    color: rgb(2, 86, 165);
    margin-bottom: 5%;
    font-size: 18px;
    margin-top: 3%;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    width: 300px;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
